.header__container {
    display: grid;
    grid-template-areas:
        "h al ar b";
    grid-template-columns: 1fr 0.3fr 0.3fr 1fr;
    justify-items: center;

    .btn__home {
        grid-area: h;
    }

    .btn__auth__left{
        grid-area: al;
    }

    .btn__auth__right{
        grid-area: ar;
    }

    .btn__back {
        grid-area: b;
    }
}