<mat-card>
	<form [formGroup]="confirmForm">
		<p>Имя мастера:</p>
		<p>{{ selectedMaster?.name }}</p>
		<p>Выбранная услуга:</p>
		<p>{{ selectedService?.title }}</p>
		<p>Время начала:</p>
		<p>{{ selectedSchedule?.preOrder | date: 'HH:mm' }}</p>
		<p>Дата:</p>
		<p>{{ selectedSchedule?.preOrder | date: 'dd MMMM' }}</p>
		<mat-form-field appearance="outline">
			<mat-label>Фамилия</mat-label>
			<input
				placeholder="Иванова"
				matInput
				formControlName="surname"
				required />
			<mat-error *ngIf="confirmForm.controls['surname'].errors?.['required']"
				>Поле обязательно</mat-error
			>
			<mat-error *ngIf="confirmForm.controls['surname'].errors?.['pattern']"
				>Некорректная запись</mat-error
			>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Имя</mat-label>
			<input placeholder="Инна" matInput formControlName="name" required />
			<mat-error *ngIf="confirmForm.controls['name'].errors?.['required']"
				>Поле обязательно</mat-error
			>
			<mat-error *ngIf="confirmForm.controls['name'].errors?.['pattern']"
				>Некорректная запись</mat-error
			>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Телефон</mat-label>
			<input
				placeholder="+375(29)888-88-88"
				matInput
				formControlName="phoneNumber"
				required />
			<mat-error *ngIf="confirmForm.controls['phoneNumber'].errors?.['pattern']"
				>Некорректный номер</mat-error
			>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Email</mat-label>
			<input placeholder="example@gmail.com" matInput formControlName="email" />
			<mat-error *ngIf="confirmForm.controls['email'].errors?.['pattern']"
				>Некорректный email</mat-error
			>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Комментарии</mat-label>
			<textarea matInput formControlName="comments"></textarea>
		</mat-form-field>
		<p>Оставьте свой email и мы отправим туда данные о Вашей записи</p>
	</form>
</mat-card>
