<div class="wrapper">
    <div class="calendarItem">
        <div class="textContainer">
            <p>{{currentDate | date: 'dd.MM'}}</p>
        </div>
        <div class="progressBarContainer">
            <p class="progressBar">
                <mat-progress-bar class="button" mode="determinate" [value]="clientCount"></mat-progress-bar>
            </p>
        </div>
        <div class="component">
            <app-select-time [studioData]="studioData"></app-select-time>
        </div>

    </div>

</div>