.spec__choice_container {
    width: 100vw;
    display: grid;
    align-items:baseline;
    grid-template-areas: 
        "list"
        "btn";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    .spec__choice__list {
        grid-area: list;
        width: 50vw;
        justify-self: center;
    }

    .spec__choice__btn {
        grid-area: btn;
        padding-top: 0.1vw;
        justify-self: center;
        align-self: start;
    }
}