<div class="crossroad_content">
    <div class="crossroad__spec_img">
        <img src="../../../../assets/images/spec-photo.jpg" alt="Выбор мастера">
    </div>
    <div class="crossroad__service_img">
        <img src="../../../../assets/images/service-photo.jpg" alt="Выбор услуги">
    </div>
    <div class="crossroad__spec__btn">
        <app-button-wrapper 
        [label]="'Специалисты'" 
        [url]="'/spec-choice'"
        ></app-button-wrapper>
    </div>
    <div class="crossroad__service_btn">
        <app-button-wrapper 
        [label]="'Услуги'" 
        [url]="'/service-choice'"
        ></app-button-wrapper>
    </div>
</div>



