<div class="container">
	<div class="filters">
		<div class="masters__filter">
			<app-master-filter
				[masters]="masters"
				(onFilterChange)="onMasterFilterChange($event)">
			</app-master-filter>
		</div>
		<div class="months__filter">
			<app-month-filter
				[months]="months"
				(onMonthSelected)="onMonthFilterChange($event)">
			</app-month-filter>
		</div>
	</div>
	<div class="calendar">
		<app-calendar
			[btnConf]="btnConf"
			[dates]="dates"
			[preselectedDate]="client?.dateOrder"
			(onDayChange)="onDaySelected($event)"
			(onWeekChange)="weekChange($event)">
		</app-calendar>
	</div>
	<div class="timesheets">
		<app-timesheet
			(onTimeChange)="timeChange($event)"
			[timesheets]="timesheets"
			[timeInterval]="timeInterval">
		</app-timesheet>
	</div>
</div>
