<div class="container">
	<div class="filters">
		<div class="masters__filter">
			<app-master-filter
				(onFilterChange)="onMasterFilterChange($event)"
				[masters]="masters">
			</app-master-filter>
		</div>
		<div class="months__filter">
			<app-month-filter
				(onMonthSelected)="onMonthFilterChange($event)"
				[months]="months">
			</app-month-filter>
		</div>
	</div>
	<div class="calendar">
		<app-calendar
			(onDayChange)="onDaySelected($event)"
			(onWeekChange)="weekChange($event)"
			[btnConf]="btnConf"
			[dates]="dates"
			[preselectedDate]="client?.dateOrder ?? selectedDay">
		</app-calendar>
	</div>
	<div class="timesheets">
		<app-schedule
			(onTimeChange)="timeChange($event)"
			[schedules]="schedules">
		</app-schedule>
	</div>
</div>
