<div class="admin__page__container">
    <div class="btn__logout">
        <button mat-button mat-button color="primary" (click)="logout()">Выйти из аккаунта</button>
    </div>
    <div class="admin__navbar">
        <div class="btn__create__master">
            <button mat-button (click)="loadAdminPanelContent('create-master')">Создать нового мастера</button>
        </div>
        <div class="btn__create__master__service">
            <button mat-button (click)="loadAdminPanelContent('create-master-service')">Создать новую услугу</button>
        </div>
        <div class="btn__order__list">
            <button mat-button (click)="loadAdminPanelContent('create-order-list')">Забронированные места</button>
        </div>
    </div>
    
    <div class="admin__create__panel">
        <ng-template dialogWindow></ng-template>
    </div> 
      
</div>


