<div class="document">
    <app-header-wrapper class="header"></app-header-wrapper>
    <div class="dialog-window">
        <app-error-window-wrapper
            *ngIf="storage.isResponseError$ | async"
            [buttonLabel]="'Понятно'"
            [customMessage]="'Попробуйте перезагрузить страницу или зайдите позже'"
            [imgLink]="'../../../assets/images/error__image.svg'"
        ></app-error-window-wrapper>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>