* {
	padding: 0.5rem;
}
body {
	background: #fafafa;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 0.8vw;
}

.document {
	display: flex;
	flex-direction: column;
	.header {
		max-height: 5em;
		background-color: #f4f6fc;
		border-radius: 10px;
		align-self: stretch;
	}
	.content {
		align-self: center;
		justify-content: center;
	}
}
