<ng-container *ngIf='{
	showSnakeBar: showSnakeBar$ | async,
	isLogged: (isUserLogged$ | async)!,
	isLoadingAuthButtonsState: (isLoadingAuthButtonsState$ | async)!
} as data'>
	<div class='document'>
		<app-sneakbar
			data-testid='shake_bar'
			[show]='data.showSnakeBar'
			(closeBtnClick)='onCloseSnakeBarClick()'>
		</app-sneakbar>
		<app-header
			class='header'
			[isLogged]='data.isLogged'
			[isLoadingAuthButtonsState]='data.isLoadingAuthButtonsState'
			(logout)='onLogout()'
		></app-header>
		<div class='content'>
			<router-outlet></router-outlet>
		</div>
	</div>
</ng-container>

