<div class='content__container'>
	<div class='content__img'>
		<img src='/assets/images/main-page-image.jpg' alt='main photo' />
	</div>
	<div class='content__header__text'>
		<p data-testid='title' >{{HomePageLabels.TITLE}}</p>
	</div>
	<div class='content__text'>
		<p data-testid='subtitle' >{{HomePageLabels.SUBTITLE}}</p>
	</div>
	<div class='content__custom__button'>
		<button data-testid='start-process-btn' mat-raised-button
						(click)='startProcessBtnClick()'>{{HomePageLabels.MAKE_ORDER_BTN}}</button>
	</div>
</div>
