<div class="container">
	<div class="filters">
		<div class="masters__filter">
			<app-filter-dropdown
				appSpinner
				[isRunning]='loadingState?.isLoadingMasterFilter'
				(onFilterChange)='onMasterFilterChange($event)'
				[items]='masters'
				[selectedItem]='selectedMaster'
				[label]='"Выберите мастера"'
			></app-filter-dropdown>
		</div>
		<div class="months__filter">
			<app-month-filter
				appSpinner
				[isRunning]='loadingState?.isLoadingMonthsFilter'
				(onMonthSelected)='onMonthFilterChange($event)'
				[months]='months'
				[selectedMonth]='selectedMonth'
				[label]='"Выберите месяц"'
			></app-month-filter>
		</div>
	</div>
	<div class="calendar">
		<app-calendar
			appSpinner
			[isRunning]='loadingState?.isLoadingCalendar'
			(onDayChange)="onDaySelected($event)"
			(onWeekChange)="weekChange($event)"
			[prevWeekBtnDisabled]="prevWeekBtnDisabled"
			[dates]="dates"
			[preselectedDate]="selectedDay">
		</app-calendar>
	</div>
	<div class="timesheets">
		<app-schedule
			appSpinner
			[isRunning]='loadingState?.isLoadingSchedules'
			(onScheduleSelected)='scheduleSelected($event)'
			(onTimeChange)='timeChange($event)'
			[schedules]="schedules"
			[selectedSchedule]='selectedSchedule'
			[selectedTime]='selectedTime'>
		</app-schedule>
	</div>
</div>
