.container {
	display: flex;
	flex-direction: column;
	.filters {
		display: flex;
		justify-content: space-between;
	}
	.masters__filter, .months__filter, .calendar, .timesheets {
		position: relative;
	}
}
