.btn__group__container {
    display: grid;
    grid-template-areas:
        "h b al ar";
    grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
    justify-items: center;

    .btn__home {
        grid-area: h;
        justify-self: start;
    }

    .left{
        grid-area: al;
        justify-self: end;
    }

    .right{
        grid-area: ar;
        justify-self: end;
    }

    .btn__back {
        grid-area: b;
        justify-self: start;
    }
}