<ng-container *ngFor="let timesheet of timesheets; trackBy: trackByFn">
	<div
		*ngIf="
			timesheet.freetimes.length > 0 &&
			(selectedMaster === timesheet.masterId || selectedMaster === null)
		">
		{{ timesheet.masterName }}
		<div class="container__time">
			<div
				class="time"
				*ngFor="let time of timesheet.freetimes; trackBy: trackByFn">
				<app-timepicker [time]="time" [interval]="interval"></app-timepicker>
			</div>
		</div>
	</div>
	<div
		*ngIf="
			selectedMaster === timesheet.masterId && timesheet.freetimes.length === 0
		">
		<p>В выбранный день у данного мастера нет свободной записи.</p>
		<p>Выберите другой день или другого мастера.</p>
	</div>
</ng-container>
