.container__timesheet {
	display: flex;
	justify-content: flex-start;
	.timesheet {
		margin: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 10px;
		.time__container {
			display: flex;
		}
	}
}
