<app-calendar
    [customHeader]="customHeader"
    (selectedChange)="dateSelected($event)"
    [selected]="selected"
>
</app-calendar>
<div *ngIf="showCard" class="matCardContainer">
  <mat-card *ngFor="let card of studioData" class="example-card">
    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title>{{card.masterName}}</mat-card-title>
      <mat-card-subtitle>{{card.price | currency: 'BYN': 'code'}}</mat-card-subtitle>
      <mat-card-subtitle>{{card.procedureDuration.hour}} час {{card.procedureDuration.minute}} минут</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <div class="buttonOfTimes" *ngFor="let item of card.arrayOfFreeTimes">
        <button [disabled]="selectedTime" mat-button color="primary" (click)="timeIsChoisen(item, card.masterId, card.masterName)" >{{item | number: '2.2-2' | colon}}</button>
        <!-- <ng-template #selectedButton>
          <button mat-raised-button color="primary"(click)="timeIsChoisen(item, card.masterId, card.masterName)" >{{item | number: '2.2-2' | colon}}</button>
        </ng-template> -->
        
      </div>
    </mat-card-actions>
  </mat-card>
</div>

<app-app-button-wrapper 
    [label]="'Продолжить'" 
    [url]="'/confirm-page'"
></app-app-button-wrapper>