<div  class="cover__div">
</div>
<div class="dialog__window__content">
    <div class="header__container">
        <img class="{{textData.imgClass}}">
        <h2>{{textData.windowHeaderText}}</h2>
        <p>{{textData.windowText}}</p>
        <button class="bnt__close" (click)="onCloseButtonClick()">X</button>
    </div>
    <div class="text__container">
        <p>{{textData.customMessage}}</p>
    </div>
    <div class="btn__ok__container">
        <button class="btn__ok" (click)="onCloseButtonClick()">{{textData.buttonLabel}}</button>
    </div>
</div>
