<div class="header__container">
    <app-app-button-wrapper 
    class="button__home"
    [label]="'На главную'" 
    [url]="'/home'"
    ></app-app-button-wrapper>
    <ng-container *ngIf="!isAuthorized; else haveToken">
        <div class="button__auth" >
            <app-app-button-wrapper
            class="button__auth__enter"  
            [label]="'Войти'" 
            [url]="'/login'"
        ></app-app-button-wrapper>
        <app-app-button-wrapper
            class="button__auth__register" 
            [label]="'Регистрация'" 
            [url]="'/register'"
        ></app-app-button-wrapper>
        </div>
    </ng-container>
    <ng-template #haveToken>
        <!-- <div > -->
            <ng-container *ngIf="!isAdmin; else admin">
                <app-app-button-wrapper
                class="button__auth" 
                [label]="'Личный кабинет'" 
                [url]="'/account'"
                ></app-app-button-wrapper>
            </ng-container>
            <ng-template #admin>
            <app-app-button-wrapper
            class="button__auth" 
            [label]="'Личный кабинет'" 
            [url]="'/admin'"
            ></app-app-button-wrapper>
            </ng-template>
        <!-- </div> -->
    </ng-template>
    <app-app-button-wrapper 
        class="button_back"
        [label]="'Назад'" 
        [url]="'/..'"
    ></app-app-button-wrapper>
</div>



