<div class="header__container">
    <ng-container *ngFor="let button of buttonConf; index as i; trackBy: trackByFn">
        <ng-container *ngIf="button.user === 'all'" >
            <app-button-wrapper [label]="button.label" [url]="button.url"></app-button-wrapper>
        </ng-container>
        <ng-container *ngIf="button.user === currentUser">
            <app-button-wrapper [label]="button.label" [url]="button.url"></app-button-wrapper>
        </ng-container>
    </ng-container>


    <!-- <app-button-wrapper class="button__home" [label]="'На главную'" [url]="'/home'"></app-button-wrapper>
    <div class="button__auth" *ngIf="!isAuthorized; else auth">
        <ng-container>
            <app-button-wrapper class="button__auth__enter" [label]="'Войти'" [url]="'/login'">
            </app-button-wrapper>
            <app-button-wrapper class="button__auth__register" [label]="'Регистрация'" [url]="'/register'">
            </app-button-wrapper>
        </ng-container>
    </div>
    <ng-template #auth>
        <div class="button__auth">
            <ng-container *ngIf="!isAdmin; else admin">
                <app-button-wrapper class="button__auth__account" [label]="'Личный кабинет'" [url]="'/account'">
                </app-button-wrapper>
            </ng-container>
            <ng-template #admin>
                <app-button-wrapper class="button__auth__account" [label]="'Личный кабинет'" [url]="'/admin'">
                </app-button-wrapper>
            </ng-template>
            <app-button-wrapper class="button__auth__logout" [label]="'Выйти'" [url]="'/logout'">
            </app-button-wrapper>
        </div>
    </ng-template>
    <app-button-wrapper class="button_back" [label]="'Назад'" [url]="'/..'"></app-button-wrapper> -->
</div>