<div class='content__container'>
	<div class='content__img'>
		<img src='/assets/images/main-page-image.jpg' alt='main photo' />
	</div>
	<div class='content__header__text'>
		<p data-testid='title' >{{LABELS.MAIN_PAGE_TITLE}}</p>
	</div>
	<div class='content__text'>
		<p data-testid='subtitle' >{{LABELS.MAIN_PAGE_SUBTITLE}}</p>
	</div>
	<div class='content__custom__button'>
		<button data-testid='start-process-btn' mat-raised-button
						(click)='startProcessBtnClick()'>{{BUTTON_LABELS.MAKE_ORDER}}</button>
	</div>
</div>
