.container {
	display: flex;
}
.cell__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	:first-child {
		border-left: 1px black solid;
	}
	.cell {
		border-bottom: 1px black solid;
		border-top: 1px black solid;
		border-right: 1px black solid;
		.date {
			padding: 10px;
		}
		.day {
			text-align: center;
			color: grey;
			opacity: 0.5;
		}
	}
	.active {
		border: 3px solid black;
		background: rgb(221, 221, 221);
	}
	.hover {
		cursor: pointer;
		background: rgb(221, 221, 221);
	}
}
.disable {
	color: grey;
}
