<div class="container">
	<button [disabled]="btnConf?.prev" (click)="onPrevWeekClick()"
		>Prev</button
	>
	<table class="cell__container">
		<tr>
			<td
				*ngFor="let date of dates; let i = index; trackBy: trackByFn"
				class="cell"
				id="{{ date.date }}"
				appAddClass
				[selectedDay]="preselectedDate"
				[day]="date"
				(onDateClick)="onDateClick($event)">
				<p class="day">{{ date.date | date: 'EEEEE' }}</p>
				<p class="date">{{ date.date | date: 'dd.MM' }}</p>
			</td>
		</tr>
	</table>
	<button [disabled]="btnConf?.next" (click)="onNextWeekClick()"
		>Next</button
	>
</div>
