.container {
	display: flex;
}
.cell__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	td {
		border: 1px solid grey;
	}
	.cell {
		.date {
			padding: 10px;
		}
		.day {
			text-align: center;
			color: grey;
			opacity: 0.5;
		}
	}
	.active {
		border: 3px solid black;
		background: rgb(221, 221, 221);
	}
	.hover {
		cursor: pointer;
		background: rgb(221, 221, 221);
	}
}
.disable {
	color: grey;
}
