.container__schedules {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	.schedule.mat-card {
		margin: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 10px;
		.time__container {
			display: flex;
		}
	}
}
