.service__choice__select__field {
	display: flex;
	flex-direction: column;
}
.card__item {
	margin: 5px;
	background-color: rgb(238, 238, 238);
}
.card__item:hover {
	background-color: rgb(221, 221, 221);
}
.active {
	border: 3px solid black;
	background: rgb(221, 221, 221);
}
.card__container {
	overflow: auto;
	height: 500px;
}
