<div class="service__choice__select__field">
	<app-search-string
		[options]="services"
		(valueForFilter)="filterChange($event)">
	</app-search-string>
	<div class="card__container">
		<mat-card
			*ngFor="let service of services; trackBy: trackByFn; let i = index"
			[ngClass]="{ active: isChoisen === i }"
			class="card__item"
			(click)="stepDone(service, i)">
			<p>{{ service.title | firstLetterUppercase }}</p>
			<p>{{ service.description }}</p>
			<p>Продолжительность: {{ service.duration }} мин</p>
			<p>от {{ service.cost }} рублей</p>
		</mat-card>
	</div>
</div>
