<!-- <div class="admin__page__container">
    <div class="btn__group">
        <ng-container *ngFor="let button of buttonsConf; trackBy: trackByFn">
            <button mat-button (click)="setContent(button.key)">{{button.label}}</button>
        </ng-container>
    </div>
    <div class="admin__create__panel" [ngSwitch]="currentContent">
        <app-admin-create-master-panel-wrapper *ngSwitchCase="adminPanelContent.createMaster"></app-admin-create-master-panel-wrapper>
        <admin-create-service-panel-wrapper *ngSwitchCase="adminPanelContent.createService"></admin-create-service-panel-wrapper>
        <app-admin-order-list-panel-wrapper *ngSwitchCase="adminPanelContent.orderList"></app-admin-order-list-panel-wrapper>
        <ng-template *ngSwitchDefault></ng-template>
    </div>
</div> -->