<form class="submit-form" [formGroup]="submitForm" novalidate (ngSubmit)="onSubmit()">
    <mat-form-field class="input-master-name" appearance="outline">
        <mat-label>Имя мастера</mat-label>
        <input matInput readonly="true" [value]="clientData.master">
    </mat-form-field>
    <mat-form-field class="input-services" appearance="outline">
        <mat-label>Выбранные услуги</mat-label>
        <input matInput readonly="true" [value]="clientData.service">
    </mat-form-field>
    <mat-form-field class="input-date" appearance="outline">
        <mat-label>Дата и время записи</mat-label>
        <input matInput readonly="true" [value]="clientData.date | date: 'dd MMMM'">
        <input matInput readonly="true" [value]="getValue()">
    </mat-form-field>
    <mat-form-field class="input-client-name" appearance="outline">
        <mat-label>Введите Ваше имя</mat-label>
        <input matInput formControlName="clientName" required>
        <mat-error *ngIf="submitForm.controls['clientName'].invalid">{{getErrorMessage('clientName')}}</mat-error>
    </mat-form-field>
   <mat-form-field class="input-client-lastname" appearance="outline">
        <mat-label>Введите Вашу фамилию</mat-label>
        <input matInput formControlName="clientLastname" required>
        <mat-error *ngIf="submitForm.controls['clientLastname'].invalid">{{getErrorMessage('clientLastname')}}</mat-error>
    </mat-form-field>
     <mat-form-field class="input-client-phone-number" appearance="outline">
        <mat-label>Введите номер телефона</mat-label>
        <input matInput formControlName="phoneNumber" required>
        <mat-error *ngIf="submitForm.controls['phoneNumber'].invalid">{{getErrorMessage('phoneNumber')}}</mat-error>
    </mat-form-field>
    <mat-form-field class="textarea-comments" appearance="outline">
        <mat-label>Комментарии</mat-label>
        <textarea matInput formControlName="comments"></textarea>
    </mat-form-field>
    <button mat-button color="primary" class="btn btn-default" [disabled]="submitForm.invalid">
        Записаться
      </button>
</form>