.confirm__page__container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .confirm__page__nonchange__inputs {
        display: inline;
        mat-form-field {
            padding: 5px;
        }
    }
    .confirm__page__change__inputs {
        padding-left: 13vw;
    }
    .confirm__page__submit__button {
        padding-left: 13vw;
    }
}