.date__choice__container {
  width: 100vw;
  display: grid;
  align-items: baseline;
  grid-template-areas:
    "calendar card"
    "btn btn";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 10fr;
  align-items: start;
  .date__choice__calendar {
    grid-area: calendar;
    justify-self: center;
  }

  .date__choice__matCardContainer {
    grid-area: card;
    justify-self: center;

    .date__choice__exampleCard {
      margin: 1em 0;
    }

    .date__choice__buttonOfTimes {
      display: inline;
    }
  }

  .date__choice__btn {
    grid-area: btn;
    padding-top: 0.1vw;
    justify-self: center;
  }





}