<ng-container *ngIf='{
	authForm: (authForm$ | async)!,
	isAuthFormDisabled: isAuthFormDisabled$ | async,
	isBadEmailError: isBadEmailError$ | async
} as data'>
	<mat-card>
		<div class='choice_form_container'
				 *ngIf='data.authForm === AuthFormType.NONE; else form'
		></div>
		<ng-template #form>
			<app-auth-form
				[type]='data.authForm'
				[isFormDisabled]='data.isAuthFormDisabled'
				(onFormSubmit)='onFormSubmit($event, data.authForm)'
			></app-auth-form>
		</ng-template>
	</mat-card>
</ng-container>
