<div class="wizard__container">
  <app-stepper [currentStep]="currentStep" [stepsQuantity]="stepsQuantity"></app-stepper>
  <div class="button__container">
    <button
      (click)="onBtnClick(false)"
      mat-button
      color="primary"
    >
      {{ backBtnLabels }}
    </button>
    <button
      [disabled]="!isStepDone"
      (click)="onBtnClick(true)"
      mat-button
      color="primary"
    >
      {{ nextBtnLabel }}
    </button
    >
  </div>
  <div [ngSwitch]="currentStep">
      <app-wizard-service-choice-step
        *ngSwitchCase="WizardStepperEnum.SERVICE_CHOICE"
        [client]="client"
        (stepDoneChange)="firstStepDone($event)"></app-wizard-service-choice-step>
<!--    <ng-template ngSwitchCase="{{ wizardStepper.serviceChoice }}">-->
<!--      <app-wizard-service-choice-step-->
<!--        [client]="client"-->
<!--        (stepDone)="firstStepDone($event)"></app-wizard-service-choice-step>-->
<!--    </ng-template>-->
    <ng-template ngSwitchCase="{{ wizardStepper.dateChoice }}">
      <app-wizard-date-choice-step
        [client]="client"></app-wizard-date-choice-step>
    </ng-template>
    <ng-template ngSwitchCase="{{ wizardStepper.confirmPage }}">
      <app-wizard-confirm-step></app-wizard-confirm-step>
    </ng-template>
  </div>
</div>
