<div class="wizard__container">
	<app-stepper [currentStep]="currentStep"></app-stepper>
	<div class="button__container">
		<button mat-button color="primary" (click)="onBtnClick(false)">{{
			backBtnLabels
		}}</button>
		<button
			mat-button
			color="primary"
			(click)="onBtnClick(true)"
			[disabled]="!isStepDone"
			>{{ nextBtnLabel }}</button
		>
	</div>
	<div [ngSwitch]="currentStep">
		<ng-template ngSwitchCase="{{ wizardStepper.serviceChoice }}">
			<app-wizard-service-choice-step
				[choisenService]="preselectedOptionFirstStep"
				(stepDone)="firstStepDone($event)"></app-wizard-service-choice-step>
		</ng-template>
		<ng-template ngSwitchCase="{{ wizardStepper.dateChoice }}">
			<app-wizard-date-choice-step
				[clientData]="clientData"></app-wizard-date-choice-step>
		</ng-template>
		<ng-template ngSwitchCase="{{ wizardStepper.confirmPage }}">
			<app-wizard-confirm-step></app-wizard-confirm-step>
		</ng-template>
	</div>
</div>
