<div class="wizard__container">
	<app-stepper [currentStep]="currentStep"></app-stepper>
	<div class="button__container">
		<button mat-button color="primary" (click)="onBtnClick(false)"
			>Назад</button
		>
		<button
			mat-button
			color="primary"
			(click)="onBtnClick(true)"
			[disabled]="!isStepDone"
			>{{ nextBtnLabel }}</button
		>
	</div>
	<div [ngSwitch]="currentStep">
		<ng-template ngSwitchCase="{{ firstStepComponent }}">
			<app-wizard-first-step
				[shouldClientDataBeSaved]="shouldClientDataBeSaved"
				[choisenService]="preselectedOptionFirstStep"></app-wizard-first-step>
		</ng-template>
		<ng-template ngSwitchCase="{{ secondStepComponent }}">
			<app-wizard-second-step></app-wizard-second-step>
		</ng-template>
		<ng-template ngSwitchCase="{{ thirdStepComponent }}">
			<app-wizard-third-step></app-wizard-third-step>
		</ng-template>
	</div>
</div>
