<ng-container
	*ngIf="{
		services: services$ | async,
		masters: masters$ | async,
		dates: dates$ | async,
		schedules: schedules$ | async,
		stepsQuantity: stepsQuantity$ | async,
		updatedPhone: updatedPhone$ | async,
		fwdBtnDisabled: (fwdBtnDisabled$ | async)!,
		selectedService: selectedService$ | async,
		currentStep: (currentStep$ | async)!,
		months: months$ | async,
		selectedMonth: selectedMonth$ | async,
		prevWeekBtnDisabled: prevWeekBtnDisabled$ | async,
		selectedSchedule: selectedSchedule$ | async,
		selectedScheduleTime: selectedScheduleTime$ | async,
		selectedMaster: selectedMaster$ | async,
		selectedDay: selectedDay$ | async
	} as data">
	<div class="wizard__container">
		<app-stepper
			[currentStep]="data.currentStep"
			[stepsQuantity]="data.stepsQuantity"></app-stepper>
		<div class="button__container">
			<button (click)="onBtnClick(false)" mat-button color="primary">{{
				BUTTON_LABELS.PREV_BTN_LABEL
			}}</button>
			<button
				mat-button
				color="primary"
        [disabled]="data.fwdBtnDisabled"
				(click)="onBtnClick(true)"
				>{{ BUTTON_LABELS.NEXT_BTN_LABEL }}
			</button>
		</div>
		<div [ngSwitch]="data.currentStep">
			<app-wizard-service-choice-step
				*ngSwitchCase="WizardStepperEnum.SERVICE_CHOICE"
				(serviceChange)="onServiceChange($event)"
        (inputChange)="onServiceStepInputChange($event)"
				[services]="data.services"
        [selectedService]="data.selectedService">
			</app-wizard-service-choice-step>
			<app-wizard-date-choice-step
				*ngSwitchCase="WizardStepperEnum.DATE_CHOICE"
				(onWeekChange)="onWeekChange($event)"
				(onMasterChange)="onMasterChange($event)"
				(onDayChange)="onDayChange($event)"
				(onMonthChange)="onMonthChange($event)"
				(onScheduleSelected)="scheduleSelected($event)"
				(onTimeChange)='timeChange($event)'
				[months]="data.months"
				[schedules]="data.schedules"
				[prevWeekBtnDisabled]="data.prevWeekBtnDisabled"
				[masters]="data.masters"
				[dates]="data.dates"
				[selectedDay]="data.selectedDay"
				[selectedMonth]="data.selectedMonth"
				[selectedTime]='data.selectedScheduleTime'
				[selectedSchedule]="data.selectedSchedule"
				[selectedMaster]='data.selectedMaster'>
			</app-wizard-date-choice-step>
			<app-wizard-confirm-step
				*ngSwitchCase="WizardStepperEnum.CONFIRM_PAGE"
				[selectedMaster]='data.selectedMaster'
				[selectedService]='data.selectedService'
				[selectedSchedule]='data.selectedSchedule'
				(onFormChange)="onFormChange($event)"
				(onFormStatusChange)="onFormStatusChange($event)">
			</app-wizard-confirm-step>
		</div>
	</div>
</ng-container>
