.button-container {
    display: flex;
    flex-direction: row;
    button{
        height:0.7  rem !important;
        width:1rem !important;
        font-size:0.4rem !important;
     
       
    }
}
