<div class="date__choice__container">
  <div class="date__choice__calendar">
    <app-calendar 
      [customHeader]="customHeader" 
      (selectedChange)="dateSelected($event)" 
      [selected]="selected" 
      [startDisabledDate]="startDisabledDate"
      [endDisabledDates]="endDisabledDates"
    ></app-calendar>
  </div>
  <div *ngIf="showCard" class="date__choice__matCardContainer">
    <mat-card *ngFor="let card of studioData" class="date__choice__exampleCard">
      <img mat-card-sm-image src="../../../../assets/images/avatar.png" alt="avatar">
      <mat-card-header>
        <mat-card-title>{{card.masterName}}</mat-card-title>
        <mat-card-subtitle>Продолжительность услуги: {{card.procedureDuration.hour}} час {{card.procedureDuration.minute}} минут</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <div class="date__choice__buttonOfTimes" *ngFor="let item of card.arrayOfFreeTimes; trackBy: trackByFn">
          <button *ngIf="item==selectedTime && card.masterId==selectedCard; else selectedButton" mat-raised-button
            color="primary" (click)="timeIsChoisen(item, card.masterId, card.masterName)">{{item
            | number: '2.2-2' | colon}}</button>
          <ng-template #selectedButton>
            <button mat-button color="primary" (click)="timeIsChoisen(item, card.masterId, card.masterName)">{{item |
              number: '2.2-2' | colon}}</button>
          </ng-template>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="date__choice__btn">
    <app-button-wrapper 
      [label]="'Продолжить'" 
      [url]="'/confirm-page'"
    ></app-button-wrapper>
  </div>
</div>


