<app-account-page
    (formValue)="setFormValue($event)"
    [disabledForm]="disableForm(disabledForm)"
    [authorizedClientData]="authorizedClientData"
    [haveAccountData]="haveAccountData"
></app-account-page>
<button mat-button color="primary" (click)="logout()">logout</button>
<hr>
<div>
    <p>История посещений</p>
</div>
<app-order-card
    [ordersArray]="ordersArray"
    [buttonConfiguration]="buttonConfiguration"
    [disabled]="disabled"
    [paginatorData]="paginatorData"
    (onPaginatorClick)="onPaginatorClick($event)"
    (onButtonClicked)="onButtonClicked($event)"
></app-order-card>