<ng-template
	#overlay="cdkConnectedOverlay"
	cdkConnectedOverlay
	[cdkConnectedOverlayOrigin]="origin"
	[cdkConnectedOverlayOpen]="visible"
	[cdkConnectedOverlayPositions]="positions"
	[cdkConnectedOverlayPush]="true">
	<div #tooltip class="tooltip__container">
		<div class="tooltip-body">
			<ul
				cdkDropList
				class="overlay"
				(cdkDropListSorted)="sort($event)"
				(cdkDropListDropped)="drop($event)">
				<li
					*ngFor="let extraTime of listItems"
					cdkDragBoundary=".tooltip-body"
					cdkDrag
					>{{ extraTime }}</li
				>
			</ul>
		</div>
	</div>
</ng-template>
