<div class="container">
	<button data-testid='calendar_prev_btn' [disabled]="prevWeekBtnDisabled" (click)="onPrevWeekClick()"
		>{{BUTTON_LABELS.PREV}}</button
	>
	<table class="cell__container">
		<tr>
			<td
				*ngFor="let date of dates; trackBy: trackByFn"
				class="cell"
				[class.disable]='!date.mastersId || date?.mastersId?.length === 0'
				[class.active]='preselectedDate === date.date'
				(click)="onDateClick(date)">
				<p class="day">{{ date.date | date: 'EEEEE' }}</p>
				<p class="date">{{ date.date | date: 'dd.MM' }}</p>
			</td>
		</tr>
	</table>
	<button data-testid='calendar_next_btn' [disabled]="nextWeekBtnDisabled" (click)="onNextWeekClick()"
		>{{BUTTON_LABELS.NEXT}}</button
	>
</div>
