<div class='container'>
	<div class='home'>
		<button 
			[matTooltip]='HeaderLabels.HOME_BTN_TOOLTIP'
			mat-icon-button color='primary'
			data-testid='header_btn'
			[routerLink]='routes.HOME'
		>
			<mat-icon data-testid='header_icon'>home</mat-icon>
		</button>
	</div>
	<div class='auth' *ngIf='!isLogged'>
		<button
			[matTooltip]='HeaderLabels.LOGIN_BTN_TOOLTIP'
			mat-icon-button
			color='primary'
			data-testid='header_btn'
			[routerLink]='routes.LOGIN'
		>
			<mat-icon data-testid='header_icon'>login</mat-icon>
		</button>
		<button
			[matTooltip]='HeaderLabels.REGISTER_BTN_TOOLTIP'
			mat-icon-button
			color='primary'
			data-testid='header_btn'
			[routerLink]='routes.REGISTER'
		>
			<mat-icon data-testid='header_icon'>how_to_reg</mat-icon>
		</button>
	</div>
</div>
