<!-- <mat-card class="content">
    <form [formGroup]="createServiceForm" novalidate (ngSubmit)="onSubmit()">
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Введите название услуги</mat-label>
        <input matInput formControlName="service" required>
        <mat-error *ngIf="createServiceForm.controls['service'].invalid">{{getErrorMessage('service')}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Введите продолжительность услуги</mat-label>
        <input matInput formControlName="duration" placeholder="Например 1:30" required>
        <mat-error *ngIf="createServiceForm.controls['duration'].invalid">{{getErrorMessage('duration')}}</mat-error>
      </mat-form-field>
      <button mat-button color="primary" class="btn btn-default" [disabled]="createServiceForm.invalid || disabledForm"
        type="submit">
        Отправить
      </button>
    </form>
</mat-card> -->