<div class="content__container">
    <div class="content__img">
        <img src="/assets/images/main-page-image.jpg" alt="main photo">
    </div>
    <div class="content__text">
        <p>Студия маникюра и педикюра Анастасии Крень предлагает качественные услуги для своих клиентов.
             В нашей душевной атмосфере квалифицированные специалисты профессионально выполнят все процедуры и сделают неповторимый дизайн,
             соблюдая все нормы обработки и стерилизации инструментов. 
            Качественные материалы и богатая палитра цветов ждут Вас!</p>
    </div>
    <div class="content__custom__button">
        <app-button-wrapper 
            [label]="'Записаться'" 
            [url]="'/crossroad'"
        ></app-button-wrapper>
    </div>
</div>

