.content__container {
    width: 100vw;
    display: grid;
    grid-template-areas: 
        "img text"
        "btn btn";
    grid-template-rows: 7fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    align-items: start;
}

.content__img {
    grid-area: img;
    padding-left: 5vw;
    justify-self: center;
    img {
        max-width: 30em;
        border-radius: 10px;
    }
}

.content__text {
    grid-area: text;
    justify-self: center;
    align-self: center;
    max-width: 15em;
    border: 3px solid #f4f6fc;
    border-radius: 10px;
    text-align:center;
    font-size:1.5em;
    line-height:1.5;
}

.content__custom__button {
    grid-area: btn;
    justify-self: center;
    align-self: start;
}
