.content__container {
	width: 100vw;
	display: grid;
	grid-template-areas:
		'head img'
		'text img'
		'btn img';
	grid-template-rows: 1fr 4fr 2fr;
	grid-template-columns: 2fr 2fr;
	gap: 1vw;
	align-items: start;
}

.content__img {
	grid-area: img;
	justify-self: center;
	padding-right: 5vw;
	img {
		max-width: 50vw;
		border-radius: 10px;
	}
}
.content__header__text {
	grid-area: head;
	padding-left: 5vw;
	justify-self: center;
	align-self: end;
}

.content__text {
	grid-area: text;
	justify-self: center;
	text-align: left;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 300;
}

.content__custom__button {
	grid-area: btn;
	justify-self: center;
	align-self: start;
}
