<!-- <div class="spec__choice_container">
    <div class="spec__choice__list">
        <mat-card>
            <mat-selection-list 
                (selectionChange)="selectedItem($event)" 
                #items 
                [multiple]="false" 
                color="primary"
            >
                <mat-list-option 
                    [selected]="selectedOption == item.id" 
                    *ngFor="let item of masterData; trackBy: trackByFn" 
                    [value]="item"
                >   
                    <p>{{item.name}}</p>
                 </mat-list-option>
            </mat-selection-list>
        </mat-card>
    </div>
    <div class="spec__choice__btn">
        <app-button-wrapper 
            [label]="'Продолжить'" 
            [url]="'/service-choice'"
        ></app-button-wrapper>
    </div>
</div>

 -->
