<ng-container
	*ngFor="let card of orderCards; let i = index; trackBy: trackByFn">
	<div
		*ngIf="
			card.freetimes.length &&
			(choisenMaster === card.masterId || choisenMaster === -1)
		">
		{{ card.masterName }}
		<div *ngFor="let time of card.freetimes; let i = index; trackBy: trackByFn">
			<p>{{ time | date: 'HH:mm' }}</p>
		</div>
	</div>
	<div *ngIf="choisenMaster === card.masterId && !card.masterName.length"
		>В выбранный день у данного мастера нет свободной записи</div
	>
</ng-container>
