<div class="container">
	<div class='time__select' *ngFor='let timeOptions of time; index as i'>
		<button
			mat-stroked-button
			color='primary'
			(click)="timeBtnClick(i)"
			[class.active]='selectedTime && timeOptions.indexOf(selectedTime) >= 0'
			cdkOverlayOrigin
			#trigger="cdkOverlayOrigin">
			{{(selectedTime && timeOptions.indexOf(selectedTime) >= 0 ? selectedTime : timeOptions[0]) | date: 'h:mm'}}
		</button>
		<ng-template
			cdkConnectedOverlay
			[cdkConnectedOverlayOrigin]="trigger"
			[cdkConnectedOverlayOpen]="i === openedPanelNumber"
			cdkConnectedOverlayHasBackdrop
			cdkConnectedOverlayBackdropClass='timepicker_backdrop'
			cdkConnectedOverlayPanelClass='timepicker_panel'
			(backdropClick)="onBackdropClick()"
		>
			<ul class="time__select__dropdown">
				<li
					class='time__select__dropdown__option'
					[class.selected]='selectedTime === timeOption || timeOption === timeOptions[0]'
					*ngFor="let timeOption of timeOptions; trackBy: trackByFn"
					(click)='timeSelected(timeOption)'>
					{{timeOption | date: 'h:mm'}}
				</li>
			</ul>
		</ng-template>
	</div>
</div>
